<%= content_for :sitemap do %>
  <span class="current">列表</span>
<% end %>

<%= content_for :base_sitemap do %>
  <ul class="breadcrumb">
    <li><a href="/admin/index">管理后台</a> <span class="divider">/</span></li>
    <li  class="active">商品管理</li>
  </ul>

<% end %>

<div class="tools">
  <a href="<%= rosewoods_path %>" class=btn btn-info">查看所有</a>
  <a href="<%= new_rosewood_path %>" class="btn btn-success">新建</a>
</div>

<div id="rosewoods">
  <%= grid(@rosewoods_grid, :show_filters => :always) do |g|
    #g.column :name => '', :attribute => 'id',  filter: false
    g.column :name => '标题', :attribute => 'title'
    g.column :name => '分类', :attribute => 'category_id',:custom_filter=>Category.find(:all).collect {|r| [ r.name, r.id ] } do |rosewood|
      rosewood.category.name if rosewood.category
    end
    g.column :name => '图片',:html=>{:class=>"admin-rosewood-list-img"} do |rosewood|
      image_tag rosewood.image.url(:thumb)
    end
    #g.column :name => '创建时间', :attribute => 'created_at',filter: false
    g.column :name => '操作' do |c|
      raw "#{link_to '修改', edit_rosewood_path(c.id)}
    #{link_to '删除', rosewood_path(c.id), :method => :delete, :confirm => '确定要删除吗?'}"
    end
  end %>
</div>


