<%= content_for :sitemap do %>
  <span class="current">列表</span>
<% end %>

<%= content_for :base_sitemap do %>
  <ul class="breadcrumb">
    <li><a href="/admin/index">后台管理</a> <span class="divider">/</span></li>
    <li class="active">页面管理</li>
  </ul>
<% end %>
<%= content_for :styles do %>
<% end %>

<div class="tools">
  <a href="<%= pages_path %>" class="btn btn-info">查看所有</a>
  <a href="<%= new_page_path %>" class="btn btn-success">新建</a>
</div>


<%= grid(@pages_grid) do |g|

  g.column :name => '标题', :attribute => 'title', filter: false,:html=>{:style=>"width:280px;"}

  g.column   do |page|
    link_to('修改', edit_page_path(page))
  end

  g.column do |page|
    link_to('删除', page, method: :delete, data: { confirm: '你确定?' })
  end
end -%>


<%= link_to '新增页面', new_page_path %>
