<%= content_for :sitemap do %>
  <span class="current">列表</span>
<% end %>

<%= content_for :base_sitemap do %>
  <a href="<%= awards_path %>">awards</a> » 
<% end %>
<%= content_for :styles do %>
<% end %>

<div class="tools">
  <a href="<%= awards_path %>" class=btn btn-info">查看所有</a>
  <a href="<%= new_award_path %>" class="btn btn-success">新建</a>
</div>

<div id="awards">
  <%= grid(@awards_grid, :show_filters => false) do |g|
    g.column :name => '', :attribute => 'id',  filter: false
    g.column :name => 'year', :attribute => 'year'
    g.column :name => 'description', :attribute => 'description'
    
    g.column do |a|   
      image_tag a.avatar.url(:thumb)
    end
    
    g.column :name => '创建时间', :attribute => 'created_at'
    g.column :name => '操作' do |c|
      raw "#{link_to '修改', edit_award_path(c.id)}
    #{link_to '删除', award_path(c.id), :method => :delete, :confirm => '确定要删除吗?'}"
    end
  end %>
</div>


