<%%= content_for :sitemap do %>
<span class="current">列表</span>
<%% end %>

<%%= content_for :base_sitemap do %>
<ul class="breadcrumb">
  <li><a href="/admin/index">管理后台</a> <span class="divider">/</span></li>
  <li class="active"><%= plural_table_name %></li>
</ul>
<%% end %>

<div class="tools">
  <a href="<%%= <%= plural_table_name %>_path %>" class=btn btn-info">查看所有</a>
  <a href="<%%= new_<%= singular_table_name %>_path %>" class="btn btn-success">新建</a>
</div>

<div id="<%= plural_table_name %>">
  <%%= grid(@<%= plural_file_name %>_grid, :show_filters => :always) do |g|
  g.column :name => 'id', :attribute => 'id',  filter: false
  <% for attribute in attributes -%>
    g.column :name => '<%= attribute.name %>', :attribute => '<%= attribute.name %>'
  <% end -%>
  g.column :name => '创建时间', :attribute => 'created_at'
  g.column :name => '操作' do |c|
  raw "#{link_to '修改', edit_<%= singular_table_name %>_path(c.id)}
  #{link_to '删除', <%= singular_table_name %>_path(c.id), :method => :delete, :confirm => '确定要删除吗?'}"
  end
  end %>
</div>


